{% extends "base.html" %}
{% load static %}

{% block content %}
    <!--About-->
    <div class="about">
        <div class="about_image">

        </div>
        <div class="about_tag">
            <h1>Про нас</h1>
            <p>
              Мы – команда, которая верит в магию книг и их способность менять жизни. Наш интернет-магазин создан для всех, кто любит читать и хочет находить любимые произведения легко и удобно. Мы гордимся широким ассортиментом, высоким качеством обслуживания и стремимся сделать каждую вашу покупку особенной.

Наша миссия – вдохновлять людей на чтение и помогать находить истории, которые запомнятся навсегда. Спасибо, что выбираете нас!
            </p>

        </div>

    </div>

{% endblock %}




