{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="">
{% endblock %}


{% block content %}
</div>
        </nav>
        <div class="main">
            <div class="main_tag">
                <h1>ДОБРО ПОЖАЛОВАТЬ<br><span>В КНИЖНЫЙ МАГАЗИН</span></h1>
                <p>
                    Добро пожаловать в мир книг! Наш интернет-магазин – это место, где оживают страницы, а каждая книга открывает двери в новые миры. У нас вы найдете произведения для любого настроения: захватывающие детективы, вдохновляющие романы, познавательные научные труды и яркие детские книги. Мы предлагаем удобный поиск, быструю доставку и качественный сервис.
                </p>
                <a href="{% url 'catalog:all' %}" class="main_btn">Подробнее</a>
            </div>
            <div class="main_img">
                <img src="{% static "deps/images/table.png" %}">
            </div>
        </div>

    </section>
    <!--Services-->

    </div>
    <!--About-->
    <div class="about">
        <div class="about_image">
            <img src="{% static "deps/images/about.png" %}">
        </div>
        <div class="about_tag">
            <h1>Про нас</h1>
            <p>
              Мы – команда, которая верит в магию книг и их способность менять жизни. Наш интернет-магазин создан для всех, кто любит читать и хочет находить любимые произведения легко и удобно. Мы гордимся широким ассортиментом, высоким качеством обслуживания и стремимся сделать каждую вашу покупку особенной.

Наша миссия – вдохновлять людей на чтение и помогать находить истории, которые запомнятся навсегда. Спасибо, что выбираете нас!
            </p>
            <a href="{% url "main:about" %}" class="about_btn">Подробнее</a>
        </div>

    </div>

    <!--Books-->

    <div class="featured_boks">

        <h1>Популярные книги</h1>

        <div class="featured_book_box">
             {% for book in popular_books %}
                <div class="featured_book_card">
                    <div class="featurde_book_img">
                    {% if book.image %}
                        <img src="{{ book.image.url }}" alt="{{ book.name }}" style="width: 90%; height: 190px; object-fit: cover;">
                    {% else %}
                        <img src="{% static 'deps/images/default_book.jpg' %}" alt="Нет изображения" style="width: 100%; height: 300px; object-fit: cover;">
                    {% endif %}
                    </div>

                    <div class="featurde_book_tag">
                        <h2>{{ book.name }}</h2>
                        <p class="writer">Автор: {{ book.description|default:"Неизвестно" }}</p>
                        <div class="categories">{{ book.category.name }}</div>
                        <p class="book_price">${{ book.price|floatformat:0 }}<sub><del>${{ book.discounted_price|floatformat:0  }}</del></sub></p>
                        <a href="{% url 'catalog:product' book.slug %}" class="f_btn">Подробнее</a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

    <!--Arrivals-->

    <div class="arrivals">
        <h1>Новые поступления</h1>

        <div class="arrivals_box">
            {% for product in products %}
                <div class="arrivals_card">
                    <div class="arrivals_image">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        {% else %}
                            <img src="image/default_arrival.jpg" alt="Default Arrival Image">
                        {% endif %}
                    </div>
                    <div class="arrivals_tag">
                        <p>{{ product.name }}</p>
                        <div class="arrivals_icon">
                            <!-- Пример вывода рейтинга звезд -->
                            {% for i in "12345" %}
                                {% if forloop.counter <= product.quantity|default:5 %}
                                    <i class="fa-solid fa-star"></i>
                                {% elif forloop.counter == product.quantity|default:5 %}
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                {% else %}
                                    <i class="fa-regular fa-star"></i>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <a href="{% url "catalog:product" product.slug %}" class="arrivals_btn">Подробнее</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}


